/* common */

body {
  margin: 0;
  background-image: url('../img/background_image.jpg');
  background-size: cover;

}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
} 

/* common

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.container {
  margin: 0 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

/* header */


header {
  height: 60px;/*70に変更*/
  width: 100%;
  padding: 12px 0;
  background-color: black;
  color: white;
  text-align: center;
  
  
}
header img{
  height: 50px;
  width: 60px;
  
}
header h1{
    line-height: 50px;
    float: left;
    font-size: 17px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
header ul{
    line-height: 17px;
    float: left;
    margin-left: 100px;
    list-style: none;
    margin-top: 12px;
}
header ul li{
    list-style: none;
    font-size: 17px;
    color: rgb(204,204,204);
    display: inline-block;
    margin: 0 80px;
}

header a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  /* transition: opacity .3s; */
  transition: color .3s;

}

header a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* main */

main h1 {
  font-size: 24px;
  text-align: center;
  margin: 60px 0;

  color: #364e96;/*文字色*/
  padding: 0.5em 0;/* 上下の余白 */
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
  
}

main h2 {
  font-size: 20px;
  margin-top: 16px;
}

main p {
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}

.story{
  border-left:5px solid #999999; 
  margin:0 auto; 
  padding: 10px; 
  max-width:500px; 
  color: #666666;
}


@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width: 400px;/*スライダー内の画像を400pxにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

.main body{
  background:#eee;
  
}

.main h2,p {
    text-align:center;
    padding:20px;
}

.main ul{
  margin:0;
  padding: 0;
  list-style: none;
}

.main a{
  color: #333;
}

.main a:hover,
.main a:active{
  text-decoration: none;
}





/* footer */


footer {
  height: 45px;
  width: 100%;
  padding: 15px 0;
  background-color: black;
  color: white;
  margin-top: 30px;
  text-align: center;

}

footer img{
  height: 50px;
  width: 60px;
  
}
footer h1{
    line-height: 45px;
    float: left;
    font-size: 17px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
footer ul{
    line-height: 20px;
    float: left;
    margin-left: 100px;
    list-style: none;
    
}
footer ul li{
    list-style: none;
    font-size: 17px;
    color: rgb(204,204,204);
    display: inline-block;
    margin: 0 70px;
    margin-bottom: 12px;

}

footer a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  /* transition: opacity .3s; */
  transition: color .3s;

}

footer a:hover {
  color: white;
  border-bottom: 1px solid white;
}