
/* footer */


footer {
  height: 45px;
  width: 100%;
  padding: 13px 0;
  background-color: black;
  color: white;
  margin-top: 30px;
  text-align: center;

}

footer img{
  height: 50px;
  width: 60px;
  
}
footer h1{
    line-height: 45px;
    float: left;
    font-size: 17px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;

}
footer ul{
    line-height: 20px;
    float: left;
    margin-left: 100px;
    list-style: none;
    
}
footer ul li{
    list-style: none;
    font-size: 17px;
    color: rgb(204,204,204);
    display: inline-block;
    margin: 0 70px;
}

footer a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  /* transition: opacity .3s; */
  transition: color .3s;

}

footer a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* footer */


footer {
  height: 45px;
  width: 100%;
  padding: 13px 0;
  background-color: black;
  color: white;
  margin-top: 30px;
  text-align: center;

}

footer img{
  height: 50px;
  width: 60px;
  
}
footer h1{
    line-height: 45px;
    float: left;
    font-size: 18px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
footer ul{
    line-height: 20px;
    float: left;
    margin-left: 100px;
    list-style: none;
    
}
footer ul li{
    list-style: none;
    font-size: 18px;
    color: rgb(204,204,204);
    display: inline-block;
    margin: 0 70px;
}

footer a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  /* transition: opacity .3s; */
  transition: color .3s;

}

footer a:hover {
  color: white;
  border-bottom: 1px solid white;
}