
/* header */


header {
  height: 45px;
  width: 100%;
  padding: 13px 0;
  background-color: black;
  color: white;
  text-align: center;
  
}

header img{
  height: 50px;
  width: 60px;
  
}

header h1{
    line-height: 45px;
    float: left;
    font-size: 18px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
header ul{
    line-height: 20px;
    float: left;
    margin-left: 100px;
    list-style: none;
    
}
header ul li{
    list-style: none;
    font-size: 18px;
    color: rgb(204,204,204);
    display: inline-block;
    margin: 0 70px;
}

header a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  /* transition: opacity .3s; */
  transition: color .3s;

}

header a:hover {
  color: white;
  border-bottom: 1px solid white;
}

