/* common */

body {
  margin: 0;
  /* background-image: url('../img/background_image.jpg'); */

}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
} 

/* common

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.container {
  margin: 0 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: inherit; */
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

h1 {
  color:rgb(100,0,240);
  font-size: 80px;
  font-family: georgia;
}

h2 {
  color: rgb(130, 227, 88);
  font-size: 40px;

}

p{
  color:rgb(1, 31, 1);
  font-size: 30px;
}

div {
  text-align: center;
}

img {
  border: sold 50px rgb(250, 150, 150);
  border-radius: 50%;
}

body {
  background-image: url('../img/data/splatoon_backgroundImage1.png');
  /* background-image: url('data/backgroundImage.png'); */
  /* backdrop-filter: blur(500px); */
  background-size: cover;
}

main{
  background-image: url('../img/data/splatoon_backgroundImage2.png');
  /* background-image: url('data/backgroundImage.png'); */
  /* backdrop-filter: blur(500px); */
  background-size: cover;
  text-align: center;
  
}